body {

       background-color: #EBDEF0;
       background-repeat: no-repeat;
       color: #2E4053;

}

h1

       {font-family: arial, verdana, sans-serif;
       font-size: 30px;
       color: #2471A3;
}

h4     {font-family: "Times New Roman", serif; font-style: italic;
       font-size: 20px;
       color: #2471A3;
}

p      {
       font-style: normal;
       font-family: arial;
       text-align: justify;
       color: #0E6655;
}

th     {
       text-align: left;
       }

td     {
       text-align: center;
       }